yafsrc/App_Code/YAF/Web References/RegisterForum/Register.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.yetanotherforum.net/Register" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.yetanotherforum.net/Register" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.yetanotherforum.net/Register">
      <s:element name="RegisterForum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterForumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterForumResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LatestVersion">
        <s:complexType />
      </s:element>
      <s:element name="LatestVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LatestVersionResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LatestVersionDate">
        <s:complexType />
      </s:element>
      <s:element name="LatestVersionDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LatestVersionDateResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="RegisterForumSoapIn">
    <part name="parameters" element="s0:RegisterForum" />
  </message>
  <message name="RegisterForumSoapOut">
    <part name="parameters" element="s0:RegisterForumResponse" />
  </message>
  <message name="LatestVersionSoapIn">
    <part name="parameters" element="s0:LatestVersion" />
  </message>
  <message name="LatestVersionSoapOut">
    <part name="parameters" element="s0:LatestVersionResponse" />
  </message>
  <message name="LatestVersionDateSoapIn">
    <part name="parameters" element="s0:LatestVersionDate" />
  </message>
  <message name="LatestVersionDateSoapOut">
    <part name="parameters" element="s0:LatestVersionDateResponse" />
  </message>
  <portType name="RegisterSoap">
    <operation name="RegisterForum">
      <documentation>Register Yet Another Forum.net</documentation>
      <input message="s0:RegisterForumSoapIn" />
      <output message="s0:RegisterForumSoapOut" />
    </operation>
    <operation name="LatestVersion">
      <documentation>Get the latest version number.</documentation>
      <input message="s0:LatestVersionSoapIn" />
      <output message="s0:LatestVersionSoapOut" />
    </operation>
    <operation name="LatestVersionDate">
      <documentation>Get the date of the last version.</documentation>
      <input message="s0:LatestVersionDateSoapIn" />
      <output message="s0:LatestVersionDateSoapOut" />
    </operation>
  </portType>
  <binding name="RegisterSoap" type="s0:RegisterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="RegisterForum">
      <soap:operation soapAction="http://www.yetanotherforum.net/Register/RegisterForum" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LatestVersion">
      <soap:operation soapAction="http://www.yetanotherforum.net/Register/LatestVersion" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LatestVersionDate">
      <soap:operation soapAction="http://www.yetanotherforum.net/Register/LatestVersionDate" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Register">
    <documentation>Yet Another Forum.net registration</documentation>
    <port name="RegisterSoap" binding="s0:RegisterSoap">
      <soap:address location="http://www.yetanotherforum.net/Register.asmx" />
    </port>
  </service>
</definitions>